html, body, main, .columns {
    height: 100%;
}

#weather-container {
    border: gray solid 2px;
    border-radius: 12px;
    height: auto;
}

.day {
    background-color: lightgray;
    border-radius: 12px;
    padding: 8px;
    margin-top: 8px;
}

.day:not(:last-of-type) {
    margin-right: 8px;
}

.day > h4 {
    font-weight: 800;
    font-size: 1.1rem;
}

#recent-searches-container {
    border-top: solid gray 2px;
}

.hide {
    display: none;
}

img {
    float: left;
}

#now > img {
    background: lightgray;
    border-radius: 12px;
    margin: 8px;
}